{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Adicinando Desenvolvedor{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Adicionando um novo desenvolvedor: </h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF*</label>
            <input type="text" class="form-control" name='cpf' id="cpf" placeholder="000.000.000-00" pattern=\d{3}\.?\d{3}\.?\d{3}-?\d{2}>
        </div>
        {{ form|crispy }}
        <input type='submit' id='criar-tarefa' class='btn btn-success' value='Adicionar Desenvolvedor'>
    </form>
    
</div>
{% endblock %}