{% extends "base.html" %}

{% block title %}Desenvolvedores{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Lista de desenvolvedores</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>
                    {% if message.tags %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </li>
                <!-- <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                    {{message}}
                </li> -->
            {% endfor %}
        </ul>        
    {% endif %}
    
    <ul class='task-list'>
        {% for dev in desenvolvedores %}
        <li class='task-item'>
            <span>{{dev.nome}}</span>
            <a href="deldev/{{dev.id}}" class="delete-btn">
                <span><i class="bi bi-trash-fill trash-btn"></i></span>
            </a>
            <a href="editdev/{{dev.id}}" >
                <span><i class="bi bi-pencil-square edit-btn" ></i></span>
            </a>
            <a href="add_dev_projeto/{{dev.id}}" >
                <span><i class="bi bi-people addproject-btn" style="color:black;"></i></span>
            </a>
            <a href="tirardev/{{dev.id}}" >
                <span><i class="bi bi-person-x"style="color:black;"></i></span>
            </a>
            
        </li>
        {% endfor %}
    </ul>

    
    <a class='link-confirm' href="addesenvolvedor/">
        <div class='col-2 btn-confirm'>
            <p>
                <i class="bi bi-plus"></i>Desenvolvedor
            </p>
        </div>
    </a>
    <!-- <a id='add-task' href="addesenvolvedor/" style="color: white;">
        <div class='col-2 add-div'>
            <i class="bi bi-plus"></i>Desenvolvedor
        </div>
    </a> -->

    <div class="paginator">
        <span class="step-links">
            
            {% if desenvolvedores.has_previous %}
                <a href="?page={{desenvolvedores.previous_page_number}}"><i class="bi bi-arrow-left"></i></a>             
            {% endif %}
    
            <span class="current">
                {{desenvolvedores.number}} de {{desenvolvedores.paginator.num_pages}}
            </span>
    
            {% if desenvolvedores.has_next %}
                <a href="?page={{desenvolvedores.next_page_number}}"><i class="bi bi-arrow-right"></i></a>             
            {% endif %}            
                
        </span>
    </div>
    
</div>

{% endblock %}