{% extends "base.html" %}

{% block title %}Lista de Projetos{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Lista de Tarefas</h1>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if  message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                    {{message}}
                </li>
            {% endfor %}
        </ul>        
    {% endif %}
        
    <ul class='task-list'>
        {% for project in projetos %}
        <li class='task-item'>
            <span><a href='/task/{{task.id}}' style="text-decoration: none;">{{project.nome}}</a></span>
            <a href="delete/{{task.id}}" class="delete-btn">
                <span><i class="bi bi-trash-fill trash-btn"></i></span>
            </a>
            <a href="edit/{{task.id}}" >
                <span><i class="bi bi-pencil-square edit-btn" ></i></span>
            </a>
            
        </li>
        {% endfor %}
    </ul>

        <div class='col-2 add-div'>
            <a id='add-task' href="addprojeto/">
                <i class="bi bi-plus"></i>Adicionar Projeto
            </a>
        </div>
        
    <div class="paginator">
        <span class="step-links">
            
            {% if projetos.has_previous %}
                <a href="?page={{projetos.previous_page_number}}"><i class="bi bi-arrow-left"></i></a>             
            {% endif %}
    
            <span class="current">
                {{projetos.number}} de {{projetos.paginator.num_pages}}
            </span>
    
            {% if projetos.has_next %}
                <a href="?page={{projetos.next_page_number}}"><i class="bi bi-arrow-right"></i></a>             
            {% endif %}            
                
        </span>
    </div>
    
</div>

{% endblock %}

