{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Adicionar ao projeto{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Adicionando {{dev.nome}} a(os) projeto(os): </h1>
    <form method="post">
        {% csrf_token %}
        {% if  qtd_projetos != 0%}
            {% for pessoa_projeto in projetos %}
            <div class="form-check check-project">
                <input class="form-check-input" type="checkbox" name='projeto' value="{{pessoa_projeto.id}}">
                <label class="form-check-label" for="projeto">
                    {% for projeto in nome_projetos %} 
                        {% if projeto.id == pessoa_projeto.id %}
                            {{projeto.nome}}
                        {% endif %}
                    {% endfor %}
                </label>
            </div>

            {% comment %} <div>
                <input type="checkbox" name="projeto" value='{{pessoa_projeto.id}}'>
                <label for="projeto"> 
                    {% for projeto in nome_projetos %} 
                        {% if projeto.id == pessoa_projeto.id %}
                            {{projeto.nome}}
                        {% endif %}
                    {% endfor %}
                </label>
            </div> {% endcomment %}
            {% endfor %}
            <input type='submit' id='criar-tarefa' class='btn btn-success' value='Editar Participação'>
        {% else %}
            <p>Não há projetos para adicionar o desenvolvedor</p>
        {% endif %}
        
    </form>
</div>
{% endblock %}