{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Tirar dev{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Tirar dev do(os) projeto(os): </h1>
    <form method="post">
        {% csrf_token %}
        {% for projeto in projetos %}
            <div>
                <input type="checkbox" name="projeto" value='{{projeto.id}}'>
                <label for="projeto"> 
                {% for nome_projeto in nome_projetos %} 
                    <p>{{nome_projeto }} {{projeto}}</p>
                    {% if nome_projeto.id == projeto.projeto_id %}
                        {{nome_projeto.nome}}
                    {% endif %}
                {% endfor %}
                </label>
            </div>
        {% endfor %}
        <input type='submit' id='criar-tarefa' class='btn btn-success' value='Excluir Participação'>
    </form>
</div>
{% endblock %}