{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Criar Login</title>
</head>
<body>
    <!-- {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message.tag}}
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        
    {% endif %} -->
    
    <div class="flex-container">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h2>Criar Login</h2>
                  <form method="POST">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class='form-control' name="cpf" id="cpf" maxlength="14" placeholder="000.000.000-00"  required>

                        {% if cpf %}
                            <p>{{cpf}}</p>
                        {% endif %}

                        {% if cpf %}
                            <p class="messagem-cpf">CPF não cadastrado</p>
                        {% endif %}
                      </div>
                      <div class="mb-3">
                          <label for="nome" class="form-label">Nome</label>
                          <input type="text" class='form-control' name="nome" id="nome" disabled required>
                      </div>
                      <div class="mb-3 senha">
                        <label for="password" class="form-label">Nova senha</label>
                        <input type="password" class="form-control" id="password" required>
                        <div id="info-senha">
                          <input class="form-check-input" type="checkbox" name="mostrar-senha" id="mostrar-senha">
                          <label for="mostrar-senha">Mostrar senha</label>
                        </div>
                      </div>
                      <div class="mb-3 senha">
                          <label for="confirm-password" class="form-label">Confirmação de senha</label>
                          <input type="password" class="form-control" id="confirm-password" required>
                          <div id="info-senha">
                            <input class="form-check-input" type="checkbox" name="mostrar-confirmacao-senha" id="mostrar-confirmacao-senha">
                            <label for="mostrar-confirmacao-senha">Mostrar senha</label>
                          </div>
                        </div>
                      <button type="submit" class="btn btn-primary btn-login">Criar</button>
                  </form>
                </div>
              </div> 
          </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>
    <script src="{% static 'js/scripts-login.js' %}"></script>
</body>
</html>