{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="flex-container">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h2>Login</h2>

                    <form>
                        <div class="mb-3">
                          <label for="cpf" class="form-label">CPF</label>
                          <input type="text" class='form-control' name="cpf" id="cpf" maxlength="14" placeholder="000.000.000-00" required>
                        </div>
                        <div class="mb-3 senha">
                          <label for="password" class="form-label">Senha</label>
                          <input type="password" class="form-control" id="password" required>
                          <div id="info-senha">
                            <input class="form-check-input" type="checkbox" name="mostrar-senha" id="mostrar-senha">
                            <label for="mostrar-senha">Mostrar senha</label>
                            <a href="alterar-senha/" id="esqueceu-senha">Esqueceu a senha?</a>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-login">Entrar</button>
                    </form>
                </div>
            </div> 
            <p id="primeiro-acesso"><a href="criar-login/">Primeiro acesso? Clique aqui</a></p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>
    <script src="{% static 'js/scripts-login.js' %}"></script>
</body>
</html>