{% extends "base.html" %}

{% block title %}Lista de setores{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Lista de Setores</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if  message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                    {{message}}
                </li>
            {% endfor %}
        </ul>        
    {% endif %}
    
    <ul class='task-list'>
        {% for setor in setores %}
        <li class='task-item'>
            <span><a href='/task/{{task.id}}' style="text-decoration: none;">{{setor.nome}}</a></span>
            <a href="delsetor/{{setor.id}}" class="delete-btn">
                <span><i class="bi bi-trash-fill trash-btn"></i></span>
            </a>
            <a href="editsetor/{{setor.id}}" >
                <span><i class="bi bi-pencil-square edit-btn" ></i></span>
            </a>
            
        </li>
        {% endfor %}
    </ul>

        <div class='col-2 add-div'>
            <a id='add-task' href="addsetor/">
                <i class="bi bi-plus"></i>Adicionar Setor
            </a>
        </div>
        
    <div class="paginator">
        <span class="step-links">
            
            {% if setores.has_previous %}
                <a href="?page={{setores.previous_page_number}}"><i class="bi bi-arrow-left"></i></a>             
            {% endif %}
    
            <span class="current">
                {{setores.number}} de {{setores.paginator.num_pages}}
            </span>
    
            {% if setores.has_next %}
                <a href="?page={{setores.next_page_number}}"><i class="bi bi-arrow-right"></i></a>             
            {% endif %}            
                
        </span>
    </div>
    
</div>

{% endblock %}